include header.jade
  ul(style="list-style:none")
    li
      h3
        a(href="http://yinxueyuan.com") 我的网站
    li
      h3
        a(href="https://thomasyxy.github.io") 我的博客
    li
      h3
        a(href="http://www.cnblogs.com/yxyblogs/") 博客园
include foot.jade