doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Blog
    link(rel='stylesheet/less', href='/stylesheets/style.css')
    link(href="/stylesheets/jquery.mCustomScrollbar.css" rel="stylesheet")
    link(rel="stylesheet" href="/KindEditor/themes/default/default.css")
    script(charset="utf-8" src="/editormd/examples/js/jquery.min.js")
    script(charset="utf-8" src="/KindEditor/kindeditor-min.js")
    script(charest="utf-8" src="/KindEditor/lang/zh_CN.js")
    script.
      var editor;
      KindEditor.ready(function(K){
        editor = K.create('textarea', {
        allowImageUpload: false,
        items: ['fontname', 'fontsize', '|', 'hilitecolor', 'bold', 'italic', 'underline', 'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist', 'insertunorderedlist', '|', 'emoticons', 'image', 'link']
        });
      });
    //- script.
    //-   var editor;
    //-   KindEditor.ready(function(K){
    //-     editor = K.create('#kindeditor');
    //-   });
    //-   //- $(function() {
    //-   //-     var editor = editormd("editormd", {
    //-   //-         path : "/editor.md/lib/" // Autoload modules mode, codemirror, marked... dependents libs path
    //-   //-     });

    //-   //-     /*
    //-   //-     // or
    //-   //-     var editor = editormd({
    //-   //-         id   : "editormd",
    //-   //-         path : "../lib/"
    //-   //-     });
    //-   //-     */
    //-   //- });
  body
    textarea