body{
	background:url(/images/bg.jpg);
	background-size: cover;
}
body.pause{
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
html,body{
	height:100%;
	min-width:980px;
}
body, textarea, select, input, button {
  font-size: 12px;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset;
	border: 1px solid #CCC!important;
	border-radius: 0 4px 4px 0;
}
*{
	margin: 0;
	padding: 0;
}

// 滚动条
.jscrollbar {position: relative}
.jscrollbar .x, .jscrollbar .y{position: absolute; background: #484642;background: rgba(0,0,0,.3);}
.jscrollbar .x{width: 100%; left: 0; bottom:0}
.jscrollbar .y{height: 100%; top: 0; right: 0}

.jscrollbar .x .thumb, .jscrollbar .y .thumb{position: absolute; background: #1E1E1C;background: rgba(0,0,0,.6); border-radius: 5px}
.jscrollbar .x .thumb{height: 100%; bottom:0}
.jscrollbar .y .thumb{width: 100%; left:0}
// 滚动条




#cover-con{
	display: none;
	position: fixed;
  _position: absolute;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
#prompt{
	position:fixed;
	width:400px;
	top:25%;
	left:40%;
	z-index: 1000;
	border: 6px solid #2d2d2d;
	border-radius: 5px;
	background:#eee;
	overflow: hidden;
}
#prompt .p-close{
	position: absolute;
	width:29px;
	height:29px;
	background: url(/images/blog-icon.png) no-repeat -12px -11px;
	top: 0;
	right: 0;
	cursor: pointer;
}
#prompt .p-user{
	cursor: move;
	box-sizing:border-box;
	width:100%;
	background:#2d2d2d;
	color:#eee;
	font: bold 14px/30px Microsoft Yahei;
	padding-left: 12px;
	border-bottom: 1px solid #191919;
}
#prompt .p-u-login{
}
#prompt .p-u-reg{
}
#section1{
	width: 400px;
}
#section2{
	width: 400px;
	display: none;
}
#prompt .p-container{
	width:220px;
	color:#333;
	box-sizing:border-box;
	margin: 0 auto;
	padding: 20px 0;
}
#prompt .def{
	width:206px;
	height: 19px;
  margin: 0;
  padding: 5px 6px 6px;
  border: 1px solid #cdcdcd;
  border-radius: 2px;
  line-height: 19px;
	margin: 10px 0;
}
#prompt .p-c-text{
	color:#666;
	cursor: default;
}
#prompt .p-c-input{

}
#prompt .p-i-name,.p-i-pwd{
}
#prompt .p-i-reg{
	width:220px;
	background: #2576c5;
	border:none;
	color:#fff;
	height:31px;
	border-radius: 3px;
	cursor: pointer;
	line-height: 31px;
	white-space: nowrap;
	vertical-align: top;
	font-size:13px;
	padding-right: 5px;
}
#prompt .p-foot{
	width:100%;
	border-top: 1px solid #c6c6c6;
	background-color: #f7f7f7;
	padding: 0 20px;
	box-sizing: border-box;
}
#prompt .p-foot-r{
	text-align: right;
}
#prompt .p-f-href{
	line-height: 50px;
	text-decoration: none;
}
#prompt .p-f-go{
	color: #999;
}
#prompt .p-f-return{
	color: #0c72c3;
}
#prompt .p-close:hover{
	background: url(/images/blog-icon.png) no-repeat -42px -11px;
}
.disable-select *
{
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#container {
	width: 800px;
	margin: 0 auto 0 auto;
  padding: 0 2em;
  font: 14px "Microsoft Yahei", Helvetica, Arial, sans-serif;
  height:100%;
}

p{
	line-height: 24px;
	margin:1em 0;
}

li{
	list-style-type: none;
}
.title{
	padding: .5em 0;
	border-bottom: 1px solid #cccccc;
	margin-bottom: 20px;
}
.title h1{
	  text-align: center;
    color: #eee;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.3);
    display: inline;
    padding: 5px 20px;
    font: 20px/60px Simhei;
}
.title .user{
	float: right;
}
.u-state{
	display: block;
	font: 14px/36px Simhei;
	color:#eee;
	text-align: center;
	padding: 0 10px;
	background: #555;
	border-radius: 5px;
	margin-top: 20px;
	cursor: pointer;
	text-decoration: none;
}
.main-nav{
	float: left;
	font: 1.1em "Microsoft Yahei";
	text-transform: uppercase;
	margin-left: -12em;
	width: 150px;
	text-align: center;
}
.main-nav .page{
	height:45px;
	position: relative;
}
.main-nav a{
	display: block;
	text-decoration: none;
	line-height: 45px;
	color:#eee;
}
.shadow{
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height:100%;
	border-radius: 5px;
	z-index: -1;
}
.main-nav a:hover .shadow{
	background-size: 100% 100%;
	background:#000;
	opacity: 0.5;
	-webkit-transition: background .3s linear;
}
.wrapper{
	height:100%;
	min-height:960px;
}
.content{
	position: relative;
	font-size: 16px;
	overflow: auto;
	width:800px;
	height:85%;
	float: left;
	color:#eee;
	min-height: 600px;
  border-radius: 5px;
  box-shadow: 0px 1px 4px #888;
}
.content .shadow{
	background:#fff;
	opacity: 0.3;
}
.content .inner{
	position: relative;
	padding: 20px;
	border-radius: 5px;
}
.content .e-l-item{
	background: rgba(82, 93, 111, 0.2);
	border-radius: 5px;
	padding: 10px;
	box-sizing: border-box;
	margin: 20px 0;
	box-shadow: 2px 2px 10px #555;
}
.content .e-l-item:last-child{
	margin-bottom: 0;
}
.content .item0{
	margin-top: 0;
}
.content .c-head{
	text-align: center;
}
.content .c-head a{
	color: #ddd;
	text-decoration: none;
	font-family: simhei;
}
.content .c-head a:hover{
	color: #333333;
	text-decoration: underline;
}
.content .c-title{
	display: inline;
}
.info{
	font-size: 14px;
}
.edit{
	margin:3px;
	padding:2px 5px;
	border-radius: 3px;
	background-color: #f4f4f4;
	color:#333;
	font-size: 13px;
}
.edit:hover{
	text-decoration: none;
	background-color:#f00;
	color: #fff;
	-webkit-transform: color .2s linear;
}
.prepage a{
	float: left;
	text-decoration: none;
	padding:0.5em 1em;
	color:#ff0000;
	font-weight: bold;
}
.nextpage a{
	float:right;
	text-decoration: none;
	padding:0.5em 1em;
	color:#ff0000;
	font-weight: bold;
}
.prepage a:hover,.nextpage a:hover{
	text-decoration: none;
	background-color: #ff0000;
	color: #f9f9f9;
	-webkit-transition: color .2s linear;
}
.tag{
	background-color: #ff0000;
	border-radius: 3px;
	font-size: 14px;
	color:#ffffff;
	display: inline-block;;
	padding:0 5px;
	margin-bottom: 8px;
	margin-left: 5px;
}
.tag:hover{
	text-decoration: none;
	background-color: #fff;
	color: #000;
	-webkit-transition: color .2s linear;
}
.search{
	border:0;
	width:6em;
	text-align: center;
	font: bold 14px/20px simsun;
	margin: 0.5em 0;
	background: #333;
	background:rgba(51, 51, 51, 0.2);
	border-radius: 3px;
	color: #eee;
	padding: 3px 5px
}
.l_head{
	float: left;
	margin-left: -4em;
	box-shadow: 0px 1px 4px #888;
}
.r_head{
	float: right;
	box-shadow: 0px 1px 4px #888;
}
#editor{
	height:400px;
}